<body>
    <main>
        <header>
            <div id="header-container">
                <h1>ToDo List</h1>
            </div>
        </header>

        <div id="Todo-input">
            <form action="/create-task" method="post">
                <div id="description-container">
                    <div class="headings">
                        <h4>Description</h4>
                    </div>
                    <div id="description-content">
                        <input type="text" name="description" placeholder="What do you need to do ?" required>
                    </div>
                </div>

                <div id="category-duedate-container">
                    <div id="category-container">
                        <div class="headings">
                            <h4>Category</h4>
                        </div>
                        <div id="choose-category">
                            <select name="category" id="" placeholder="choose a category">
                                <option value="personal">Personal</option>
                                <option value="work">Work</option>
                                <option value="school">School</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div> 

                    <div id="date-container">
                        <div class="headings">
                            <h4>Due Date</h4>
                        </div>
                        <div id="select-date">
                            <input type="date" name="date" id="" placeholder="dd-mm-yyyy" required>
                        </div>
                    </div>
                </div>

                <div id="add-task">
                    <button type="submit">Add New Task</button>
                </div>

            </form>
        </div>

        <div id="display-todo">
            <form action="/delete-task" method="get" name="delete-task">
                <div>
                    <div id="delete-tasks">
                        <button type="submit">DELETE TASK</button>
                    </div>
    
                    <ul>
                        <!-- 
                            Tick    Description
                            date    Category
                        -->
                        <% for(let i of task_list) { %>
                            <div class="todo-list-container">
                                <div class="checkbox-container">
                                    <input type="checkbox" name=" <%= i.id %> " id="">
                                </div>
                                <div class="desc-date">
                                    <li>
                                        <p> <%= i.description %> </p>
                                        <p> <%= i.date %> </p>
                                    </li>
                                </div>
                                <div class="category-container">
                                    <p> <%= i.category %> </p>
                                </div>
                            </div>
                        <% } %>
                    </ul>
                </div>
            </form>
        </div>
        
    </main>
</body>